<form data-ng-submit="job.search(searchForm)" name="searchForm" novalidate="" data-ng-init="job.searchJobs(job.limit, job.page)">
    <div>
        <input data-ng-model="job.searchkey.search" name="search" placeholder="" type="text" />
        <select data-ng-model="job.searchkey.country" data-ng-options="country.nicename as country.nicename for country in job.country">
        </select>
        <input type="submit" value="Search">
    </div>
</form>
<div>
    <ul data-ng-if="job.total > 0 && job.error != 1">
        <li data-ng-repeat="jobs in job.searchjobs">
        <a data-ng-href="{{jobs.url}}">
            <span>
                <img ng-src="{{jobs.image_url}}"/>
            </span>
            <span data-ng-bind="jobs.job_title"></a>
            </span>
            <span data-ng-bind="jobs.job_group.country">
            </span>
            <span data-ng-bind="jobs.job_group.industry">
            </span>
            <span data-ng-bind="jobs._applied">
            </span>
        </li>
        <uib-pagination boundary-link-numbers="true" class="pagination-sm" data-ng-change="job.searchJobs(job.limit, job.page)" max-size="5" ng-model="job.page" total-items="job.total">
        </uib-pagination>
    </ul>
    <div data-ng-if="job.total==0">
        <p class="no_suggestion_p">
            No Jobs at the moment.
        </p>
    </div>
    <div data-ng-if="job.error==1">
        <p class="no_suggestion_p">
            No Jobs Found.
        </p>
    </div>
</div>
