<div>
	<ul>
		<li data-ng-if="saved.total > 0" data-ng-repeat="saveds in saved.savedjobs">
			<span><img ng-src="{{saveds.image_url}}"></span>
			<span data-ng-bind="saveds.job_title"></span>
			<span data-ng-bind="saveds.job_group.country"></span>
			<span data-ng-bind="saveds.job_group.industry"></span>
			<span data-ng-bind="saveds.job_group.name"></span>
		</li>
		<li data-ng-if="saved.total==0">
            <p class="no_suggestion_p">No Saved Jobs at the moment.</p>
        </li>
	</ul>
	<uib-pagination data-ng-if="saved.total > 0" total-items="saved.total" ng-model="saved.page" max-size="5" class="pagination-sm" boundary-link-numbers="true" data-ng-change="saved.paginationChanged(saved.currentUser, saved.limit, saved.page)"></uib-pagination>
</div>