<div>
	<ul>
		<li data-ng-if="applied.total > 0" data-ng-repeat="applieds in applied.appliedjobs">
			<a data-ng-href="{{applieds.job.url}}">
			<span><img ng-src="/{{applieds.job.job_group.company.avatar}}">
			<span data-ng-bind="applieds.job.job_title"></span></a>
			<span data-ng-bind="applieds.job.job_group.country"></span>
			<span data-ng-bind="applieds.job.job_group.industry"></span>
			<span data-ng-bind="applieds.date_applied"></span>
		</li>
		<li data-ng-if="applied.total==0">
            <p class="no_suggestion_p">No Applied Jobs at the moment.</p>
        </li>
	</ul>
	<uib-pagination data-ng-if="applied.total > 0" items-per-page="applied.limit" total-items="applied.total" ng-model="applied.page" max-size="5" class="pagination-sm" boundary-link-numbers="true" data-ng-change="applied.paginationChanged(applied.currentUser, applied.limit, applied.page)"></uib-pagination>
</div>