<div>
	<ul>
		<li data-ng-if="company.total > 0" data-ng-repeat="comp in company.companyjobs">
			<span><img ng-src="/{{comp.avatar}}"></span>
			<span data-ng-bind="comp.name"></span>
			<span data-ng-bind="comp.address.country"></span>
			<span data-ng-bind="comp.industry.description"></span>
			<span data-ng-bind="comp.date_created"></span>
		</li>
		<li data-ng-if="company.total==0">
            <p class="no_suggestion_p">No company at the moment.</p>
        </li>
	</ul>
	<uib-pagination data-ng-if="company.total > 0" total-items="company.total" ng-model="company.page" max-size="5" class="pagination-sm" boundary-link-numbers="true" data-ng-change="company.paginationChanged(company.limit, company.page)"></uib-pagination>
</div>