<ul class="user_dashbord_personal_info">
    <li>
        <h6>Email :</h6>
        <p data-ng-bind="contact.currentUser.email">
        </p>
    </li>
    <li>
        <h6>State :</h6>
        <p data-ng-bind="contact.currentUser.address.address_1"></p>
    </li>
    <li>
        <h6>
    		City :
    	</h6>
        <p data-ng-bind="contact.currentUser.address.address_2"></p>
    </li>
    <li>
        <h6>Country :</h6>
        <p data-ng-bind="contact.currentUser.address.country">
        </p>
    </li>
    <li>
        <h6>Zip code :</h6>
        <p data-ng-bind="contact.currentUser.address.postal_zip"></p>
    </li>
    <li>
        <h6>Contact No :</h6>
        <p>+<span data-ng-bind="contact.contacts.country_code"></span><span data-ng-bind="contact.contacts.phone_number"></span></p>
    </li>
</ul>
