<ul class="user_dashbord_personal_info">
    <li>
        <h6>Name : </h6>
        <p>
            <span data-ng-bind="profile.currentUser.first_name"></span>
            <span data-ng-bind="profile.currentUser.last_name"></span>
        </p>
    </li>
    <li>
        <h6>Your professional headline</h6>
        <p data-ng-bind="profile.jobseekerInfo.quote">
        </p>
    </li>
    <li>
        <h6>Gender</h6>
        <p data-ng-bind="(profile.currentUser.gender==='M') ? 'Male' : 'Female'  "></p>
    </li>
    <li>
        <h6>Birth date</h6>
        <p data-ng-bind="profile.currentUser.birthdate"></p>
    </li>
    <li>
        <h6>Nationality</h6>
        <p data-ng-bind="profile.jobseekerInfo.nationality"></p>
    </li>
    <li>
        <h6>Civil status</h6>
        <p data-ng-bind="profile.jobseekerInfo.civil_status"></p>
    </li>
</ul>
